* body {

    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    background-color: white;
  }
  .nav{
      color: white !important;
  }
  .linea{
      border: 1px solid ;
      color: aqua;
  }
  @media (max-width: 576px) { 

    .quienesSomos{
        display: none;
    }
   }