* body {

    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer a{
   /*  color: #ffffff;
    text-decoration: none; */
    background-color: white;
  }
  /* .nav{
      color: white !important;
  } */
  /* Me genera la lina de separación de secciones */
  .linea{
      border: 1px solid ;
      color: aqua;
  }
  /* Lo que hace que la sección de quienes somos se oculte cuando la pantalla es un smartphone */
  @media (max-width: 576px) { 

    .quienesSomos{
        display: none;
    }
   }
  